{% extends 'base.html' %} {% load static %} {% block content %}


<section class="slider_02">
    <div class="rev_slider_wrapper">
        <div id="rev_slider_2" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
            <ul>
                <li data-index="rs-3048" data-transition="random-premium" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1000" data-thumb="" data-rotate="0"
                    data-saveperformance="off" data-title="" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <img src="{% static 'images/slider/2.jpg'%}" alt="Organia" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="0" class="rev-slidebg" data-no-retina="">
                    <div class="tp-caption headFont ws_nowrap text-upppercase" data-x="['left', 'left', 'center', 'center']" data-hoffset="['-90','0','0','0']" data-y="['middle']" data-voffset="['-114','-114','-145','-155']" data-fontsize="['22','22','22','20']" data-fontweight="500"
                        data-lineheight="['30']" data-letterspacing=".42" data-width="['500','500','100%', '100%']" data-height="['auto']" data-whitesapce="normal" data-color="['#62a403']" data-type="text" data-responsive_offset="off" data-frames='[{"delay":1500,"speed":300,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"power3.inOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'
                        data-textalign="['left', 'left', 'center', 'center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,25,20]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,150,25,20]">100% Organic Foods
                    </div>
                    <div class="tp-caption headFont ws_nowrap" data-x="['left', 'left', 'center', 'center']" data-hoffset="['-90','0','0','0']" data-y="['middle']" data-voffset="['-2','-2','-10','-50']" data-fontsize="['60','50','50','38']" data-fontweight="['800']" data-lineheight="['78','68','65','52']"
                        data-letterspacing="['-2.4','-2.4','-1.4','-1']" data-width="['770','790','100%','100%']" data-height="['auto']" data-whitesapce="['normal']" data-color="['#fff']" data-type="text" data-responsive_offset="off" data-frames='[{"delay":1800,"speed":300,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"power3.inOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'
                        data-textalign="['left', 'left', 'center', 'center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,80,20]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,150,80,20]">Cook Your Food Clean & <span class="prcolor">Healthy</span>
                    </div>
                    <div class="tp-caption ws_nowrap" data-x="['left', 'left', 'center', 'center']" data-hoffset="['-90','0','0','0']" data-y="['middle']" data-voffset="['129','129','145','110']" data-fontsize="['18','18','18','20']" data-fontweight="['400']" data-lineheight="['30','30','30','32']"
                        data-width="['640','700','100%','100%']" data-height="['auto']" data-whitesapce="['normal']" data-color="['#d7d7d7']" data-type="text" data-responsive_offset="off" data-frames='[{"delay":2100,"speed":300,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"power3.inOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'
                        data-textalign="['left', 'left', 'center', 'center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,90,25]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,150,90,25]">We provide Clean and Healthy products to your table, we care about your health more than You! So we only provide clean Products
                        <div class="tp-caption headFont tp-resizeme" data-x="['left', 'left', 'center', 'center']" data-hoffset="['-90','0','0','0']" data-y="['middle']" data-voffset="['250','250','250','250']" data-fontsize="['17']" data-fontweight="800" data-lineheight=".8"
                            data-width="['100%']" data-height="['auto']" data-whitesapce="['normal']" data-color="['#fff']" data-type="text" data-responsive_offset="off" data-frames='[{"delay":2400,"speed":300,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"power3.inOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'
                            data-textalign="['left', 'left', 'center', 'center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,150,0,0]"><a href="{% url 'shop' %}" class="organ_btn ob02">View All<i class="twi-arrow-right1"></i></a>
                        </div>
                </li>
                <li data-index="rs-3049" data-transition="random-premium" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1000" data-thumb="" data-rotate="0"
                    data-saveperformance="off" data-title="" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <img src="{% static 'images/slider/2_1.jpg'%}" alt="Organia" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="0" class="rev-slidebg" data-no-retina="">
                    <div class="tp-caption headFont ws_nowrap text-upppercase" data-x="['left', 'left', 'center', 'center']" data-hoffset="['-90','0','0','0']" data-y="['middle']" data-voffset="['-114','-114','-145','-155']" data-fontsize="['22','22','22','20']" data-fontweight="500"
                        data-lineheight="['30']" data-letterspacing=".42" data-width="['500','500','100%', '100%']" data-height="['auto']" data-whitesapce="normal" data-color="['#62a403']" data-type="text" data-responsive_offset="off" data-frames='[{"delay":1500,"speed":300,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"power3.inOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'
                        data-textalign="['left', 'left', 'center', 'center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,25,20]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,150,25,20]">100% Natural Foods
                    </div>
                    <div class="tp-caption headFont ws_nowrap" data-x="['left', 'left', 'center', 'center']" data-hoffset="['-90','0','0','0']" data-y="['middle']" data-voffset="['-2','-2','-10','-50']" data-fontsize="['60','50','50','38']" data-fontweight="['800']" data-lineheight="['78','68','65','52']"
                        data-letterspacing="['-2.4','-2.4','-1.4','-1']" data-width="['770','790','100%','100%']" data-height="['auto']" data-whitesapce="['normal']" data-color="['#fff']" data-type="text" data-responsive_offset="off" data-frames='[{"delay":1800,"speed":300,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"power3.inOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'
                        data-textalign="['left', 'left', 'center', 'center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,80,20]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,150,80,20]">Order Fresh <span class="prcolor">Veggies</span> without any delays.
                    </div>
                    <div class="tp-caption ws_nowrap" data-x="['left', 'left', 'center', 'center']" data-hoffset="['-90','0','0','0']" data-y="['middle']" data-voffset="['129','129','145','110']" data-fontsize="['18','18','18','20']" data-fontweight="['400']" data-lineheight="['30','30','30','32']"
                        data-width="['640','700','100%','100%']" data-height="['auto']" data-whitesapce="['normal']" data-color="['#d7d7d7']" data-type="text" data-responsive_offset="off" data-frames='[{"delay":2100,"speed":300,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"power3.inOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'
                        data-textalign="['left', 'left', 'center', 'center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,90,25]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,150,90,25]">We value your time and Health, so we primise you that all the products we provide are Super Fresh and Your orders will be delivered without any delays.
                        <div class="tp-caption headFont tp-resizeme" data-x="['left', 'left', 'center', 'center']" data-hoffset="['-90','0','0','0']" data-y="['middle']" data-voffset="['250','250','250','250']" data-fontsize="['17']" data-fontweight="800" data-lineheight=".8"
                            data-width="['100%']" data-height="['auto']" data-whitesapce="['normal']" data-color="['#fff']" data-type="text" data-responsive_offset="off" data-frames='[{"delay":2400,"speed":300,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"power3.inOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"power3.inOut"}]'
                            data-textalign="['left', 'left', 'center', 'center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,150,0,0]"><a href="{% url 'index' %}" class="organ_btn ob02">View All<i class="twi-arrow-right1"></i></a>
                        </div>
                </li>
            </ul>
            </div>
            </div>
</section>


<section class="serviceSection02 ">
    <div class="container largeContainer ">
        <div class="row ">
            <div class="col-xl-3 col-md-6 ">
                <div class="icon_box_04 ">
                    <div class="ibImg "><img src="{% static 'images/home3/1.png'%} " alt=" "></div>
                    <h3>Pick a Starter Option</h3>
                    <p>Nam commodo suscipit quam. Nunc nulla Aenean ut eros et nisl sagittis</p>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 ">
                <div class="icon_box_04 ">
                    <div class="ibImg "><img src="{% static 'images/home3/2.png'%} " alt=" "></div>
                    <h3>Wait for Delivery</h3>
                    <p>Nam commodo suscipit quam. Nunc nulla Aenean ut eros et nisl sagittis</p>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 ">
                <div class="icon_box_04 ">
                    <div class="ibImg "><img src="{% static 'images/home3/3.png'%} " alt=" "></div>
                    <h3>Deliver a Great Product</h3>
                    <p>Nam commodo suscipit quam. Nunc nulla Aenean ut eros et nisl sagittis</p>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 ">
                <div class="icon_box_04 ">
                    <div class="ibImg "><img src="{% static 'images/home3/4.png'%} " alt=" "></div>
                    <h3>Choose Product</h3>
                    <p>Nam commodo suscipit quam. Nunc nulla Aenean ut eros et nisl sagittis</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="productSection07 ">
    <div class="container largeContainer ">
        <div class="row ">
            <div class="col-xl-5 ">
                <div class="subTitle sbsm ">Nature Only</div>
                <h2 class="secTitle ">Offers New Products</h2>
            </div>
            <div class="col-xl-7 ">
                <ul class="filter_menu02 shaff_filter text-right clearfix ">
                    <li class="active " data-group="all ">All Products</li>
                    <li data-group="beverages ">Beverages</li>
                    <li data-group="butter_egg ">Butter & Eggs</li>
                    <li data-group="dried ">Dried</li>
                    <li data-group="food ">Food</li>
                </ul>
            </div>
        </div>
        <div class="row shaff_grid ">
            {% for Products in products %}
            <div class="col-xl-3 col-lg-4 col-md-6 shaff_item " data-groups='["all ", "butter_egg ", "food "]'>
                <div class="productItem07 ">
                    <div class="proThumb07 ">
                        <img src="{{ Products.images.url }}" " alt=" ">
                        <div class="piActionBtns ">
                            <a class="quickview " href="{% url 'product' %} "><i class="fa-solid fa-magnifying-glass "></i>
                                <a class="cart " href="{% url 'cart' %} "><i class="fa-solid fa-bag-shopping "></i></a>
                        </div>
                        <div class="prLabels ">
                            <p class="justin ">Fresh</p>
                        </div>
                        <p class="off ">Sale 20%</p>
                    </div>
                    <div class="product_content07 ">
                        <div class="ratings ">
                            <i class="twi-star "></i>
                            <i class="twi-star "></i>
                            <i class="twi-star "></i>
                            <i class="twi-star "></i>
                            <i class="twi-star1 "></i>
                            <span>(01)</span>
                        </div>
                        <h3><a href="{% url 'product' %} ">{{ Products.name }}</a></h3>
                        <div class="pi01Price ">
                            <span class="price "><del>₹200.00</del><ins>{{Products.price}}</ins></span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% for Products in products %}
            <div class="col-xl-3 col-lg-4 col-md-6 shaff_item " data-groups='["all ", "beverages ", "dried "]'>
                <div class="productItem07 ">
                    <div class="proThumb07 ">
                        <img src="{{ Products.images.url }} " alt=" ">
                        <div class="piActionBtns ">
                            <a class="quickview " href="{% url 'product' %} "><i class="fa-solid fa-magnifying-glass "></i>
                                <a class="cart " href="{% url 'cart' %} "><i class="fa-solid fa-bag-shopping "></i></a>
                        </div>
                        <div class="prLabels ">
                            <p class="justin ">Fresh</p>
                        </div>
                        <p class="off ">Sale 20%</p>
                    </div>
                    <div class="product_content07 ">
                        <div class="ratings ">
                            <i class="twi-star "></i>
                            <i class="twi-star "></i>
                            <i class="twi-star "></i>
                            <i class="twi-star "></i>
                            <i class="twi-star1 "></i>
                            <span>(01)</span>
                        </div>
                        <h3><a href="{% url 'product' %} ">Vegan Egg Replacer</a></h3>
                        <div class="pi01Price ">
                            <span class="price "><del>₹200.00</del><ins>₹280.00</ins></span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% for Products in products %}
            <div class="col-xl-3 col-lg-4 col-md-6 shaff_item " data-groups='["all ", "butter_egg ", "food "]'>
                <div class="productItem07 ">
                    <div class="proThumb07 ">
                        <img src="{{ Products.images.url }} " alt=" ">
                        <div class="piActionBtns ">
                            <a class="quickview " href="{% url 'product' %} "><i class="fa-solid fa-magnifying-glass "></i>
                                <a class="cart " href="{% url 'cart' %} "><i class="fa-solid fa-bag-shopping "></i></a>
                        </div>
                        <div class="prLabels ">
                            <p class="justin ">Fresh</p>
                        </div>
                        <p class="off ">Sale 20%</p>
                    </div>
                    <div class="product_content07 ">
                        <div class="ratings ">
                            <i class="twi-star "></i>
                            <i class="twi-star "></i>
                            <i class="twi-star "></i>
                            <i class="twi-star "></i>
                            <i class="twi-star1 "></i>
                            <span>(01)</span>
                        </div>
                        <h3><a href="{% url 'product' %} ">Vegan Egg Replacer</a></h3>
                        <div class="pi01Price ">
                            <span class="price "><del>₹200.00</del><ins>₹280.00</ins></span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% for Products in products %}
            <div class="col-xl-3 col-lg-4 col-md-6 shaff_item " data-groups='["all ", "beverages ", "dried "]'>
                <div class="productItem07 ">
                    <div class="proThumb07 ">
                        <img src="{{ Products.images.url }} " alt=" ">
                        <div class="piActionBtns ">
                            <a class="quickview " href="{% url 'product' %} "><i class="fa-solid fa-magnifying-glass "></i>
                                <a class="cart " href="{% url 'cart' %} "><i class="fa-solid fa-bag-shopping "></i></a>
                        </div>
                        <div class="prLabels ">
                            <p class="justin ">Fresh</p>
                        </div>
                        <p class="off ">Sale 20%</p>
                    </div>
                    <div class="product_content07 ">
                        <div class="ratings ">
                            <i class="twi-star "></i>
                            <i class="twi-star "></i>
                            <i class="twi-star "></i>
                            <i class="twi-star "></i>
                            <i class="twi-star1 "></i>
                            <span>(01)</span>
                        </div>
                        <h3><a href="{% url 'product' %} ">Vegan Egg Replacer</a></h3>
                        <div class="pi01Price ">
                            <span class="price "><del>₹200.00</del><ins>₹280.00</ins></span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% for Products in products %}
            <div class="col-xl-3 col-lg-4 col-md-6 shaff_item " data-groups='["all ", "butter_egg ", "food "]'>
                <div class="productItem07 ">
                    <div class="proThumb07 ">
                        <img src="{{ Products.images.url }} " alt=" ">
                        <div class="piActionBtns ">
                            <a class="quickview " href="{% url 'product' %} "><i class="fa-solid fa-magnifying-glass "></i>
                                <a class="cart " href="{% url 'cart' %} "><i class="fa-solid fa-bag-shopping "></i></a>
                        </div>
                        <div class="prLabels ">
                            <p class="justin ">Fresh</p>
                        </div>
                        <p class="off ">Sale 20%</p>
                    </div>
                    <div class="product_content07 ">
                        <div class="ratings ">
                            <i class="twi-star "></i>
                            <i class="twi-star "></i>
                            <i class="twi-star "></i>
                            <i class="twi-star "></i>
                            <i class="twi-star1 "></i>
                            <span>(01)</span>
                        </div>
                        <h3><a href="{% url 'product' %} ">Vegan Egg Replacer</a></h3>
                        <div class="pi01Price ">
                            <span class="price "><del>₹200.00</del><ins>₹280.00</ins></span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% for Products in products %}
            <div class="col-xl-3 col-lg-4 col-md-6 shaff_item " data-groups='["all ", "beverages ", "dried "]'>
                <div class="productItem07 ">
                    <div class="proThumb07 ">
                        <img src="{{ Products.images.url }} " alt=" ">
                        <div class="piActionBtns ">
                            <a class="quickview " href="{% url 'product' %} "><i class="fa-solid fa-magnifying-glass "></i>
                                <a class="cart " href="{% url 'cart' %} "><i class="fa-solid fa-bag-shopping "></i></a>
                        </div>
                        <div class="prLabels ">
                            <p class="justin ">Fresh</p>
                        </div>
                        <p class="off ">Sale 20%</p>
                    </div>
                    <div class="product_content07 ">
                        <div class="ratings ">
                            <i class="twi-star "></i>
                            <i class="twi-star "></i>
                            <i class="twi-star "></i>
                            <i class="twi-star "></i>
                            <i class="twi-star1 "></i>
                            <span>(01)</span>
                        </div>
                        <h3><a href="{% url 'product' %} ">Vegan Egg Replacer</a></h3>
                        <div class="pi01Price ">
                            <span class="price "><del>₹200.00</del><ins>₹280.00</ins></span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% for Products in products %}
            <div class="col-xl-3 col-lg-4 col-md-6 shaff_item " data-groups='["all ", "butter_egg ", "food "]'>
                <div class="productItem07 ">
                    <div class="proThumb07 ">
                        <img src="{{ Products.images.url }} " alt=" ">
                        <div class="piActionBtns ">
                            <a class="quickview " href="{% url 'product' %} "><i class="fa-solid fa-magnifying-glass "></i>
                                <a class="cart " href="{% url 'cart' %} "><i class="fa-solid fa-bag-shopping "></i></a>
                        </div>
                        <div class="prLabels ">
                            <p class="justin ">Fresh</p>
                        </div>
                        <p class="off ">Sale 20%</p>
                    </div>
                    <div class="product_content07 ">
                        <div class="ratings ">
                            <i class="twi-star "></i>
                            <i class="twi-star "></i>
                            <i class="twi-star "></i>
                            <i class="twi-star "></i>
                            <i class="twi-star1 "></i>
                            <span>(01)</span>
                        </div>
                        <h3><a href="{% url 'product' %} ">Vegan Egg Replacer</a></h3>
                        <div class="pi01Price ">
                            <span class="price "><del>₹200.00</del><ins>₹280.00</ins></span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            
            <div class="col-xl-3 col-lg-4 col-md-6 shaff_item " data-groups='["all ", "beverages ", "dried "]'>
                <div class="productItem07 ">
                    <div class="proThumb07 ">
                        <img src="{% static 'images/product/33.png'%} " alt=" ">
                        <div class="piActionBtns ">
                            <a class="quickview " href="{% url 'product' %} "><i class="fa-solid fa-magnifying-glass "></i>
                                <a class="cart " href="{% url 'cart' %} "><i class="fa-solid fa-bag-shopping "></i></a>
                        </div>
                        <div class="prLabels ">
                            <p class="justin ">Fresh</p>
                        </div>
                        <p class="off ">Sale 20%</p>
                    </div>
                    <div class="product_content07 ">
                        <div class="ratings ">
                            <i class="twi-star "></i>
                            <i class="twi-star "></i>
                            <i class="twi-star "></i>
                            <i class="twi-star "></i>
                            <i class="twi-star1 "></i>
                            <span>(01)</span>
                        </div>
                        <h3><a href="{% url 'product' %} ">Vegan Egg Replacer</a></h3>
                        <div class="pi01Price ">
                            <span class="price "><del>₹200.00</del><ins>₹280.00</ins></span>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row ">
            <div class="col-md-12 text-center ">
                <a href="{% url 'index' %} " class="organ_btn ob02 ">View All<i class="twi-arrow-right1 "></i></a>
            </div>
        </div>
    </div>
</section>



<section class="chooseSection ">
    <div class="container largeContainer ">
        <div class="row ">
            <div class="col-lg-12 text-center ">

                <h2 class="secTitle ">Why People Choose <span style="color:#674519; ">Crave</span> <span style="color: #206c11; ">Organic</span>
                    </p>
                </h2>
            </div>
        </div>
        <div class="row ">
            <div class="col-xl-4 col-md-6 ">
                <div class="icon_box_05 text-right ">
                    <div class="ibImg "><img src="{% static 'images/home3/4.jpg'%} " alt=" "></div>
                    <h3>100% Payment Secure</h3>
                    <p>All Your Payment are done Securely.</p>
                </div>
                <div class="icon_box_05 ml29 text-right ">
                    <div class="ibImg "><img src="{% static 'images/home3/5.jpg'%} " alt=" "></div>
                    <h3>Focuses Exclusively</h3>
                    <p>We Focus on exclusive Products.</p>
                </div>
                <div class="icon_box_05 text-right ">
                    <div class="ibImg "><img src="{% static 'images/home3/6.jpg'%} " alt=" "></div>
                    <h3>Pure Natural Products</h3>
                    <p>We Provide Pure and best natural products for our Customer's safety. </p>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 abCus ">
                <div class="abThumb move_anim ">
                    <img src="{% static 'images/home3/choose.png'%} " alt=" ">
                </div>
            </div>
            <div class="col-xl-4 col-md-6 ">
                <div class="icon_box_05 ">
                    <div class="ibImg "><img src="{% static 'images/home3/1.jpg'%} " alt=" "></div>
                    <h3>100% Fresh & Organic</h3>
                    <p>Not a single product is'nt Natural.</p>
                </div>
                <div class="icon_box_05 ml29 ">
                    <div class="ibImg "><img src="{% static 'images/home3/2.jpg'%} " alt=" "></div>
                    <h3>Feel the Freshness and Pureness.</h3>
                    <p>We promise you the Fresh and Pure products to you.</p>
                </div>
                <div class="icon_box_05 ">
                    <div class="ibImg "><img src="{% static 'images/home3/3.jpg'%} " alt=" "></div>
                    <h3>Environmentally Products</h3>
                    <p>We take a big concern for our environment, Hence it resulted into <span style="color:#674519; ">Crave</span> <span style="color: #206c11; ">Organic</span>
                    </p>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}