{% extends 'base.html' %} {% load static %} {% block content %} {% for Products in products %}
<div class="card" style="width: 20rem; background-color: rgb(65, 75, 75) ;">
    <img class="card-img-top" src="{{ Products.images.url }}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{ Products.name }}</h5>
        <p class="card-text">Price - {{ Product.price }}</p>
        <p class="card-text">{{ Products.description }}</p>
        <p class="card-text">{{ Products.category }}</p>
        <a href="#" class="btn btn-primary">Buy Now</a>
    </div>
</div>
{% endfor %} {% endblock%}